<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Activity Details for {{vm.activityDate}} </h2>
      <span flex></span>
      <md-button class="md-icon-button" type="button" ng-click="vm.closeDialog()">
        <img src="img/icons/white/24X24/24x24-close-delete.png" aria-label="Close dialog" />
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="width:300px">
    <div ng-if="vm.activityStatus">
      <div layout="column">
        <div layout="row" style="padding-bottom:10px;">
          <div class="bold" style="padding-right:5px; min-width:70px;">Activity</div>
          <div class="bold" style="color:green;">{{vm.activityStatus.activityDetail}}</div>
        </div>
        <md-button class=" md-raised md-primary" ng-click="vm.emailActivityPlan()" ng-disabled="vm.requesOut">
          Email Activity Plan
        </md-button>
        </md-button>
        <div ng-if="vm.requestOut" class="overlay shady"></div>
        <div ng-if="vm.requestOut" class="overlay" layout="row" layout-align="center center">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <div class="error" ng-if="vm.hasError">{{vm.errorMsg}}</div>
        <div class="success" ng-if="vm.isSuccessFul">{{vm.successMsg}}</div>
      </div>
  </md-dialog-content>
</md-dialog>
