<div layout='row' class="homepager__header" layout-align="space-between center">
  <img src="img\icons\home.png" title="home" class="homepage__header-logo">
  <div> Welcome to Healthy Humans</div>
  <div layout ="row">
   <div ng-if="homepage.isLoggedIn" layout='row' class="profile__userinfo" layout="row" layout-align="center center" style="min-height:100px">
    <div class="profile__username">{{homepage.userDetails.firstName}}</div>
    <div>
      <img ng-src='img/icons/user.png' class="profile__user-logo" />
    </div>
    <div>
      <user-info-panel class='profile__user-info-panel'></user-info-panel>
    </div>
  </div>
  <div> <img src="img\icons\info.png" title="info" class="homepage__info-logo"></div>
  </div>
</div>
<div class="carousel" flex>
  <div class="homepage__image-list" flex>
    <div ng-click="homepage.previousSlide()" title="Back" ng-mouseover=" previousArrowMouseIn = true" ng-mouseout=" previousArrowMouseIn = false" ng-init="previousArrowMouseIn = false" ng-class="{'homepage__carousel-previous-arrow-mouse-in' : previousArrowMouseIn ,
		'homepage__carousel-previous-arrow-mouse-out' : !previousArrowMouseIn }">
    </div>
    <div id="a{{image.split('.')[0]}}" ng-repeat="image in homepage.updatedCarouselImages" class="homepage__image-tile" flex layout-align="center center">
      <img ng-src="img/carousel/{{image}}" ng-click="homepage.searchAsset(image.assetId)" flex />
    </div>
    <div ng-click="homepage.nextSlide()" title="Forward" ng-mouseover=" nextArrowMouseIn = true" ng-mouseout=" nextArrowMouseIn = false" ng-init="nextArrowMouseIn = false" ng-class="{'homepage__carousel-next-arrow-mouse-in' : nextArrowMouseIn ,
		'homepage__carousel-next-arrow-mouse-out' : !nextArrowMouseIn }">
    </div>
  </div>
  <div class="welcome-section">
    <div ng-if="!homepage.isLoggedIn" class="homepage__welcome-message">Happiness lies, first of all, in health- George William Curtis</div>
    <div ng-if="homepage.isLoggedIn" class="homepage__welcome-message">Welcome , {{homepage.userDetails.firstName}}</div>
    <div class="homepage__bodynav">
      <div layout="row" layout-align="center center">
        <md-button ng-if="!homepage.isLoggedIn" class="md-raised md-primary dal-button" ng-click="homepage.signUp()">Sign up</md-button>
        <md-button ng-if="!homepage.isLoggedIn" class="md-raised md-primary dal-button" ng-click="homepage.login()">Login</md-button>
        <md-button ng-if="homepage.isLoggedIn" class="md-raised md-primary dal-button" ng-click="homepage.goToProfile()">Go To Profile Page</md-button>
      </div>
    </div>
  </div>
  <div class="homepage__copyright">
    © {{login.currentYear}} Neha Abrol. All Rights Reserved
  </div>
</div>
