<md-dialog>
	<form name="loginForm" ng-submit="vm.submit(loginForm)" novalidate class="homepage__sign-up-form">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Login</h2>
				<span flex></span>
				<md-button class="md-icon-button" type="button" ng-click="vm.closeDialog()">
					<img src="img/icons/white/24X24/24x24-close-delete.png" aria-label="Close dialog" />
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content style="width:300px">
			<md-input-container>
				<label>Email Id</label>
				<input name="userName" ng-model="vm.loginRequest.userName" type="text" required>
				<div ng-messages="loginForm.userName.$error">
					<div ng-if='loginForm.userName.$touched && loginForm.userName.$error.required' ng-message="required">Required</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Password</label>
				<input name="password" ng-model="vm.loginRequest.password" type="password" autocomplete="off" required>
				<div ng-messages="loginForm.password.$error">
					<div ng-if='loginForm.password.$touched && loginForm.password.$error.required' ng-message="required">Required</div>
				</div>
			</md-input-container>
			<md-button class="md-raised md-primary dal-button" ng-disabled="signUp.signUpRequestObject.requestOut">Submit
			</md-button>
			<div ng-if="vm.requestOut" class="overlay shady"></div>
			<div ng-if="vm.requestOut" class="overlay" layout="row" layout-align="center center">
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
			<span class="error" ng-if="vm.hasError">{{vm.errorMsg}}</span>
		</md-dialog-content>
	</form>
</md-dialog>
