<div layout="row">
   <img src="img\icons\back.jpg" title="Back to Defaults" class="homepage__header-logo" ng-click="profile.goToDefault()">
   <h2 style="color:black;">Meal plan for {{profile.userDetails.personType}} ({{profile.userDetails.firstName}}) for tomorrow {{profile.getServerFormattedDate(profile.mealDate)}}
   {{}}
  <span style="color:blueviolet; font-size:15px;">Select an item from each Food group(Toggle accordian on Sidenav) to know food intake required per day</span>
  </h2>
</div>
<img src="img/icons/profile/general/meal.jpg" width="300px" height="175px">
</div>
<div layout="column">
  <div layout="row" style="padding-bottom:10px;">
    <img ng-if='profile.fruitValue.length === 0' src="img/icons/profile/general/cross.png" class="icon_small">
    <img ng-if='profile.fruitValue.length > 0' src="img/icons/profile/general/correct.png" class="icon_small">
    <img src="img/icons/profile/general/apple.png" class="icon_small">
    <div class="icon_small_text" style="min-width :77px;">Fruits</div>
    <div class="icon_small_text_green">{{profile.fruitValue}}</div>
  </div>
  <div layout="row" style="padding-bottom:10px;">
    <img ng-if='profile.veggiesValue.length === 0' src="img/icons/profile/general/cross.png" class="icon_small">
    <img ng-if='profile.veggiesValue.length > 0' src="img/icons/profile/general/correct.png" class="icon_small">
    <img src="img/icons/profile/general/veggie.png" class="icon_small">
    <div class="icon_small_text" style="min-width :96px;">Veggies</div>
    <div class="icon_small_text_green">{{profile.veggiesValue}}</div>
  </div>
  <div layout="row" style="padding-bottom:10px;">
    <img ng-if='profile.grainsValue.length === 0' src="img/icons/profile/general/cross.png" class="icon_small">
    <img ng-if='profile.grainsValue.length > 0' src="img/icons/profile/general/correct.png" class="icon_small">
    <img src="img/icons/profile/general/grains.png" class="icon_small">
    <div class="icon_small_text" style="min-width :75px;">Grains</div>
    <div class="icon_small_text_green">{{profile.grainsValue}}</div>
  </div>
  <div layout="row" style="padding-bottom:10px;">
    <img ng-if='profile.proteinsValue.length === 0' src="img/icons/profile/general/cross.png" class="icon_small">
    <img ng-if='profile.proteinsValue.length > 0' src="img/icons/profile/general/correct.png" class="icon_small">
    <img src="img/icons/profile/general/proteins.png" class="icon_small">
    <div class="icon_small_text" style="min-width :96px;">Proteins</div>
    <div class="icon_small_text_green">{{profile.proteinsValue}}</div>
  </div>
  <div layout="row" style="padding-bottom:10px;">
    <img ng-if='profile.dairyValue.length === 0' src="img/icons/profile/general/cross.png" class="icon_small">
    <img ng-if='profile.dairyValue.length > 0' src="img/icons/profile/general/correct.png" class="icon_small">
    <img src="img/icons/profile/general/dairy.png" class="icon_small">
    <div class="icon_small_text" style="min-width :66px;">Dairy</div>
    <div class="icon_small_text_green">{{profile.dairyValue}}</div>
  </div>
</div>
<md-button ng-if="profile.userDetails.mealPlanEnteredForTomorrow == 'N'" class=" md-raised md-primary" ng-click="profile.submitMealPlan()" ng-disabled="profile.isMealPlanSubmittedForTomorrow">Submit Meal Plan</md-button>
<div class="error" ng-if="profile.hasError">{{profile.errorMsg}}</div>
<div class="success" ng-if="profile.isSuccessFul">{{profile.successMsg}}</div>
