<div layout="row">
  <img src="img\icons\back.jpg" title="Back to Defaults" class="homepage__header-logo" ng-click="profile.goToDefault()">
  <h2 style="color:black;">Physical activity options for Family per day
  </h2>
</div>
<img src="img/icons/profile/general/activityFamily.png" width="300px" height="175px">
<div layout="row">
  <md-input-container style="width:250px;">
    <label>Select person type</label>
    <md-select ng-model="profile.personTypeForActivity">
      <md-option value="adults">Adults(18+)</md-option>
      <md-option value="children">Children</md-option>
      <md-option value="olderAdults">Older Adults(60+)</md-option>
    </md-select>
  </md-input-container>
  <md-input-container style="width:250px;" ng-if="profile.personTypeForActivity == 'adults'">
    <label>Select Activity type</label>
    <md-select ng-model="profile.activityType
">
      <md-option value="briskWalking">Brisk Walking</md-option>
      <md-option value="jogging">Jogging/Running</md-option>
      <md-option value="muscleStrenghtening">Muscle Strengthening</md-option>
    </md-select>
  </md-input-container>
  <md-input-container style="width:250px;" ng-if="profile.personTypeForActivity == 'children'">
    <label>Select Activity type</label>
    <md-select ng-model="profile.activityType">
      <md-option value="briskWalking">Brisk Walking</md-option>
      <md-option value="jogging">Jogging/Running</md-option>
      <md-option value="boneStrenghtening">Bone Strengthening</md-option>
    </md-select>
  </md-input-container>
  <md-input-container style="width:250px;" ng-if="profile.personTypeForActivity == 'olderAdults'">
    <label>Select Activity type</label>
    <md-select ng-model="profile.activityType">
      <md-option value="briskWalking">Brisk Walking</md-option>
      <md-option value="muscleStrenghtening">Muscle Strengthening</md-option>
      <md-option value="jogging">Jogging/Running</md-option>
    </md-select>
  </md-input-container>
</div>
<div layout="column" ng-if="profile.personTypeForActivity.length>0 && profile.activityType.length>0">
  <div ng-if="profile.personTypeForActivity == 'adults'">
    <div layout="row">
      <img src="img/icons/profile/general/adults.jpg" width="100px" height="100px">
      <div class="profile__activity-display">{{profile.adults[profile.activityType]}}</div>
    </div>
  </div>
  <div ng-if="profile.personTypeForActivity == 'children'">
    <div layout="row">
      <img src="img/icons/profile/general/kids.jpg" width="100px" height="100px">
      <div class="profile__activity-display">{{profile.children[profile.activityType]}}</div>
    </div>
  </div>
  <div ng-if="profile.personTypeForActivity == 'olderAdults'">
    <div layout="row">
      <img src="img/icons/profile/general/olderAdults.jpg" width="100px" height="100px">
      <div class="profile__activity-display">{{profile.olderAdults[profile.activityType]}}</div>
    </div>
  </div>
</div>
