<div layout='row' class="homepager__header" style="margin-bottom: 0px;" layout-align="space-between center">
  <img src="img\icons\home.png" title="home" class="homepage__header-logo" ng-click="profile.goToHome()">
  <div> Welcome to Healthy Humans</div>
  <div layout="row">
    <div layout='row' class="profile__userinfo" layout="row" layout-align="center center" style="min-height:100px">
      <div class="profile__username">{{profile.userDetails.firstName}}</div>
      <div>
        <img ng-src='img/icons/user.png' class="profile__user-logo" />
      </div>
      <div>
        <user-info-panel class='profile__user-info-panel'></user-info-panel>
      </div>
    </div>
    <div> <img src="img\icons\info.png" title="info" class="homepage__info-logo"></div>
  </div>
</div>
<main layout="row" ng-cloak flex>
  <nav class="profile__nav" layout="row">
    <md-sidenav class="hh-sidenav md-sidenav-left ng-isolate-scope" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" layout="column" ng-show="!profile.isSideNavVisible && !profile.default && !profile.physicalActivity && (profile.userDetails.mealPlanEnteredForTomorrow == 'N' ||  !profile.planForSelf) ">
      <md-content flex>
        <ng-include src="'components/profile/partials/meals.html'"></ng-include>
      </md-content>
    </md-sidenav>
  </nav>
  <md-content ng-if="profile.isProfileUpdated" class="profile__main_section" flex layout="row">
    <md-button ng-if="!profile.default && !profile.physicalActivity && (profile.userDetails.mealPlanEnteredForTomorrow == 'N' ||  !profile.planForSelf)" class="profile__hideSidenav md-raised md-primary" ng-click="profile.toggleSideNav()">{{profile.hideShow}}</md-button>
    <div ng-if="profile.default" layout="column" flex layout-align="start center">
      <h2 style="color:blueviolet;">Select an option From Below</h2>
      <div layout="row">
        <div class="clickable" style="padding-right:10px;" layout="column" layout-align="center center" ng-click="profile.goToMealsForFamily()">
          <img ng-src="img/icons/profile/general/meal.png" height="100px" width="100px;">
          <h4>Daily meal intake for Family</h4>
        </div>
        <div class="clickable" style="padding-right:10px;" layout="column" layout-align="center center" ng-click="profile.goToMealsForSelf()">
          <img ng-src="img/icons/profile/general/meal_for_self.png" height="100px" width="150px;">
          <h4>Plan/Track your diet</h4>
        </div>
        <div class="clickable" style="padding-right:10px;" layout="column" layout-align="center center" ng-click="profile.goToActivityorFamily()">
          <img ng-src="img/icons/profile/general/excerciseForFamily.jpg" height="100px" width="100px;">
          <h4>Daily activity for Family</h4>
        </div>
        <div class="clickable" style="padding-right:10px;" layout="column" layout-align="center center">
          <img ng-src="img/icons/profile/general/workout.png" height="100px" width="100px;" ng-click="profile.goToPhysicalActivityForSelf()">
          <h4>Plan/Track your workouts</h4>
        </div>
        <div class="clickable" style="padding-right:10px;" layout="column" layout-align="center center">
          <img ng-src="img/icons/profile/general/bmi.png" height="100px" width="100px;">
          <h4>Calculate Your BMI</h4>
        </div>
      </div>
    </div>
    <ng-include src="'components/profile/partials/mealsDisplaySection.html'" ng-if="profile.meal &&  !profile.physicalActivity && profile.planForSelf   && profile.userDetails.mealPlanEnteredForTomorrow == 'N' " layout="column" flex layout-align="start center"></ng-include>
     <ng-include src="'components/profile/partials/trackMealProgress.html'" ng-if="profile.meal &&  !profile.physicalActivity && profile.planForSelf  && profile.userDetails.mealPlanEnteredForTomorrow == 'Y'" layout="column" flex layout-align="start center"></ng-include>
     <ng-include src="'components/profile/partials/mealsForFamilyDisplaySection.html'" ng-if="profile.meal &&  !profile.physicalActivity && !profile.planForSelf" layout="column" flex layout-align="start center"></ng-include>
     <ng-include src="'components/profile/partials/physicalActivity.html'" ng-if="!profile.meal &&  profile.physicalActivity  && profile.planForSelf && profile.userDetails.activityPlanEnteredForTomorrow == 'N'" layout="column" flex layout-align="start center"></ng-include>
      <ng-include src="'components/profile/partials/physicalActivityForFamily.html'" ng-if="!profile.meal &&  profile.physicalActivity  && !profile.planForSelf"  layout="column" flex layout-align="start center"></ng-include>
       <ng-include src="'components/profile/partials/trackActivityProgress.html'" ng-if="!profile.meal &&  profile.physicalActivity && profile.planForSelf  && profile.userDetails.activityPlanEnteredForTomorrow == 'Y'" layout="column" flex layout-align="start center"></ng-include>
    </div>
  </md-content>
  <md-content ng-if="!profile.isProfileUpdated" class="profile__main_section" flex layout="row">
    <update-profile user-name="profile.userName" flex layout="row" layout-align="center center"></update-profile>
  </md-content>
</main>
<div class="blogs__bar" resizable r-directions="['top']" layout="column" layout-align=" start center">
  <h2>Drag Up to Read Health Blogs</h2>
</div>
