<md-dialog aria-label="Progress Bar" class="successError__dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Response from Service</h2>
      <span flex></span>
      <md-button class="md-icon-button" type="button" ng-click="vm.closeDialog()">
        <img src="img/icons/white/24X24/24x24-close-delete.png" aria-label="Close dialog" />
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout="row" layout-align="center center" style="color:blueviolet;">
    <div>{{vm.msg}}</div>
  </md-dialog-content>
</md-dialog>
